<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/style.css">
    <meta charset="UTF-8">
    <title>Count</title>
</head>
<body>

<div class="topnav">
    <a th:href="@{/people/search}">Get age by name</a>
    <a class="active" th:href="@{/statistics/count}">Count name</a>
    <a th:href="@{/statistics/name-by-max-age}">Max age</a>
</div>


<div class="main">
    <h1 class="card1">Count By Person Name</h1>

    <div class="card2" th:each="statistics : ${fullStatistics}">
        <a th:href="@{'/statistics/full?name=' + ${statistics.person.name}}" th:text="${statistics.person.name}"/>
        <span th:text="${'(' + statistics.person.age +') : ' + statistics.count}"></span>
    </div>

    <a th:if="${prevPage >= 0}" th:href="@{'/statistics/count?page=' + ${prevPage}}" th:text="Назад"/>
    <a th:if="${nextPage * 5 < size}" th:href="@{'/statistics/count?page=' + ${nextPage}}" th:text="Вперед"/>

    <!--    <a class="pageRef"> Назад</a>-->
    <!--    <a class="pageRef">Вперед</a>-->
</div>

<div class="bottompan">
    <p> Copyright 2023</p>
</div>

</body>
</html>