<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Get Age By Person's Name</title>

</head>
<body>

<div class="topnav">
    <a class="active" th:href="@{/people/search}">Get age by name</a>
    <a th:href="@{/people/statistics/count}">Count name</a>
    <a th:href="@{/people/statistics/name-by-max-age}">Max age</a>
</div>

<div class="main">
    <h1 class="card1">Get Age by person's Name</h1>
    <div class="card2">
        <form th:method="GET" th:action="@{/people/search/age}">
            <label for="query">Введите имя: </label>
            <input type="text" id="query" name="query">
            <br>
            <input type="submit" value="Искать">
        </form>

        <div>
            <span class="CardAge" th:text="${'Возраст: ' + age}"/>
            <span class="CardAge" th:text="${'Имя: ' + name}"/>
        </div>
    </div>
    <br>
</div>


<div class="bottompan">
    <p> Copyright 2023</p>
</div>

</body>
</html>